body {
    background-color: rgb(212, 212, 212);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.nav-list {
    background-color: rgba(250, 187, 69, 0.883);
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: 70px;
    border-radius: 10px;
}

.header-link {
    cursor: pointer;
    color: black;
    text-decoration-line: none;
}


/* ************************************************************************************************************************************ */


/* EMAIL-STYLE */

.main-container-mail {
    padding-bottom: 30px;
}

.mails-list {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: antiquewhite;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.email-preview {
    box-sizing: border-box;
    display: flex;
    max-width: 900px;
    text-decoration-line: none;
    width: 100%;
    color: black;
}

.email-preview:hover {
    transition: 200ms;
    background-color: rgb(223, 206, 184);
}

.email-preview-head {
    box-sizing: border-box;
    display: flex;
    width: 360px;
}

.email-preview-sent-to {
    box-sizing: border-box;
    width: 120px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    padding: 18px;
}

.email-preview-sent-to:link {
    text-decoration-line: none;
}

.email-preview-subject {
    box-sizing: border-box;
    width: 240px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    padding: 18px;
}

.email-preview-body {
    box-sizing: border-box;
    width: 540px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 18px;
    font-size: 12px;
    font-weight: normal;
}

.create-new-mail {
    max-width: 900px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.btn-create-new-mail {
    border-radius: 15px;
    width: 100px;
    height: 40px;
    margin-bottom: 5px;
}

.btn-create-new-mail:hover {
    transition: 150ms;
    background-color: aquamarine;
    cursor: pointer;
}

.new-mail-modal-hide {
    visibility: hidden;
    position: fixed;
}

.new-mail-modal {
    position: fixed;
    bottom: 0;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
}

.new-mail-input {
    display: flex;
    flex-direction: column;
    height: 100%;
}

textarea[name="sentTo"] {
    background-color: rgb(217, 248, 248);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 7%;
}

textarea[name="subject"] {
    background-color: rgb(217, 248, 248);
    height: 14%;
}

textarea[name="body"] {
    background-color: rgb(217, 248, 248);
    height: 79%;
}

.btn-send-mail {
    height: 10%;
    font-size: large;
}

.btn-send-mail:hover {
    background-color: aquamarine;
}

.mail-details {
    box-sizing: border-box;
    background-color: antiquewhite;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.mail-details-sent-to {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    padding-top: 20px;
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
}

.mail-details-subject {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.mail-details-body {
    box-sizing: border-box;
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
    padding: 10px;
    white-space: normal;
    overflow: scroll;
}

.btn-delete-mail {
    height: 60px;
    border-radius: 20px;
    margin-top: 40px;
    width: 140px;
}

.btn-delete-mail:hover {
    transition: 150ms;
    background-color: aquamarine;
    cursor: pointer;
    min-width: 140px;
}

.btn-mail-back {
    width: 140px;
    height: 60px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-mail-back:hover {
    transition: 150ms;
    background-color: aquamarine;
    cursor: pointer;
}

.btn-mail-back-father {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.btn-delete-mail-father {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.bte-details-container {
    display: flex;
}

@media only screen and (max-width: 900px) {
    .email-preview {
        flex-direction: column;
    }
    .email-preview-head {
        width: 100%;
    }
    .email-preview-sent-to {
        width: 30%;
        margin-left: 1%;
        height: 40px;
        padding: 10px;
    }
    .email-preview-subject {
        justify-content: center;
        align-items: center;
        width: 67%;
        margin-left: 1%;
        height: 40px;
        padding: 10px;
    }
    .email-preview-body {
        width: 98%;
        height: 40px;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .email-preview-head {
        flex-direction: column;
    }
    .email-preview {
        flex-direction: column;
    }
    .email-preview-sent-to {
        width: 98%;
        height: 25px;
        padding: 5px;
    }
    .email-preview-subject {
        height: 25px;
        padding: 5px;
    }
    .email-preview-body {
        margin-left: 5px;
        height: 25px;
        padding: 5px;
    }
    .new-mail-modal {
        width: 90vw;
        margin-left: auto;
        left: auto;
    }
}


/* ************************************************************************************************************************************** */


/* ************************************************************************************************************************************ */


/* KEEPER-STYLE */

.note-preview {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 300px;
    width: 200px;
    margin: 20px;
    justify-content: space-between;
}

.note-h1 {
    text-align: center;
}

.note-input {
    width: 600px;
    height: 60px;
    border: 2px solid rgb(88, 87, 87);
}

.note-btns {
    display: flex;
    justify-content: space-around;
    cursor: pointer
}

.add-note-btn {
    height: 65px;
    ;
}


/* ************************************************************************************************************************************** */